<li id="micropost-<%= micropost.id %>" class="microposts" data-id="<%=micropost.id%>" >
  <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <span class="content">
    <%= micropost.content %>
    <%= image_tag micropost.display_image if micropost.image.attached? %>
  </span>
  <div class="row timestamp ml-0">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
    <% if current_user?(micropost.user) %>
      <%= button_to "Delete", micropost, method: :delete,
                                         class: "btn-delete",
                                         data: { confirm: "You sure?" } %>
    <% end %>
    <%= button_tag "Comment", class: "btn-comment add-form-comment-btn", data: {micropost_id: micropost.id} %>
    <div class="comments-<%= micropost.id %>" ></div>
    <div class="form-group display-hidden comment-form">
      <%= render "comments/input_comment" %>
    </div>
    <div class="mt-4" id="micropost-<%= micropost.id %>">
      <% micropost.comments.each do |comment| %>
        <div class="col-md-1">
          <%= gravatar_for @user, size: 30 %>
        </div>
        <div class="col-md-11">
          <p><%= link_to @user.name, micropost.user %></p>
          <p class="text-dark"><%= comment.comment_content%></p>
          <%= button_tag "Reply", class: "btn-comment add-form-reply-btn", data: {comment_id: comment.id} %> <br>
          <span id="replies-<%= comment.id %>" class="comments" data-id="<%= comment.id %>" >
            <div class="form-group display-hidden reply-form">
              <%= render "comments/input_reply" %>
            </div>
          </span>
          <% if(comment.parent_id.blank?) %>
            <% comment.replies.each do |reply| %>
              <div class="col-md-1">
                <%= gravatar_for @user, size: 30 %>
              </div>
              <div class="col-md-11">
                <p><%= link_to @user.name %></p>
                <p class="text-dark"><%= reply.comment_content%></p>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</li>
