<li id="micropost-<%= micropost.id %>" class="micropost" data-id="<%=micropost.id%>" >
  <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <span class="content">
    <%= micropost.content %>
    <%= image_tag micropost.display_image if micropost.image.attached? %>
  </span>
  <div class="row timestamp">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
    <% if current_user?(micropost.user) %>
      <%= button_to "Delete", micropost, method: :delete,
                                         class: "btn-delete",
                                         data: { confirm: "You sure?" } %>
    <% end %>
    <%= button_tag "Comment", class: "btn-comment add-form-comment-btn", data: {micropost_id: micropost.id} %>
    <div class="comments-<%= micropost.id %>"></div>
    <%#= link_to "Comment", new_comment_path(id: micropost.id), class: "btn btn-primary"%>
    <div class="form-group display-hidden comment-form">
      <div class="input-comment">
        <%= text_field_tag :comment_content, nil, class: "form-control comment-content", 
                            placeholder: "New comment" %>
        <%= button_tag :Submit, class: "btn btn-primary comment-submit"%>
      </div>
    </div>
  </div>
</li>
